<h1>Tweet#timeline</h1>
<p>Find me in app/views/tweet/timeline.html.erb</p>

<%= flash[:success] %>

<%= render partial: 'post_tweet' %>

<% @tweets.each do |tweet| %>
    <%= tweet.text %><br>
    <% if tweet.media? %>
        <% tweet.media.each do |media| %>
            <%= image_tag(media.media_url_https, width: '320') %>
        <% end %>
	<br>
    <% end %>
    <%= "#{tweet.favorite_count}いいね　#{tweet.retweet_count}リツイート" %><br>

<% end %>
